@charset "UTF-8";
/*
Theme Name: World Clean Up Day
Theme URI: https://gitlab.com/EdouardMeucci/cwcud
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème Wordpress custom
Version: 1.0
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*

Custom Mixins

File structure :
------------------
1 - Responsive spacing
  1.1 - spacing()
  1.2 - gutter()
  1.3 - Pixel -> Rem
------------------
2 - Font settings
  2.1 - Font()
  2.2 font-weight()
  2.3 - font-size()
------------------
3 - Link
  3.1 - Link default
  3.2 - Link underline
  3.3 - Button
------------------
4 - Icon

*/
/* 1 - Responsive spacing
--------------------------*/
/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
/* 2 - Font settings
--------------------------*/
/* 4 - Icon
--------------------------*/
/* Font Face Rules 

 Fonts used :
 
 01 - Inter : Open Source Fonts [@source : https://github.com/rsms/inter/]
     1 : Chau Philomene One (regular)
     2 : Open Sans (regular & bold)
 */
@font-face {
  font-family: 'Chau Philomene One';
  src: url("./font/chauphilomeneone-regular-webfont.woff2") format("woff2"), url("./font/chauphilomeneone-regular-webfont.woff") format("woff"), url("./font/chauphilomeneone-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("./font/opensans-regular-webfont.woff2") format("woff2"), url("./font/opensans-regular-webfont.woff") format("woff"), url("./font/opensans-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("./font/opensans-bold-webfont.woff2") format("woff2"), url("./font/opensans-bold-webfont.woff") format("woff"), url("./font/opensans-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes

*/
.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 0.5em;
  top: 0.5em;
  line-height: normal;
  padding: 1em 1.5em 1em;
  text-decoration: none;
  width: unset;
  z-index: 1000;
  /* Above WP toolbar. */
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  color: #666666;
  background: #fff;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75;
  font-weight: 400;
  font-size: 1rem;
}

.body-like {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  display: block;
}

h1, .h1-like {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 42.5rem) {
  h1, .h1-like {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  h1, .h1-like {
    font-size: 3rem;
  }
}

h2, .h2-like {
  font-size: 1.625rem;
}

h3, .h3-like {
  font-size: 1.625rem;
}

h4, .h4-like {
  font-size: 1.625rem;
}

h5, .h5-like {
  font-size: 1.625rem;
}

h6, .h6-like {
  font-size: 1.625rem;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  margin-bottom: 0.5em;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.2;
  color: #016d91;
}

.big {
  font-weight: 400;
  font-size: 1.625rem;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

b, strong, .bold {
  font-weight: 700;
}

@media screen and (max-width: 25rem) {
  .tiny-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 42.5rem) {
  .mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 25rem) and (max-width: 42.5rem) {
  .mobile-xl-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 42.5rem) and (max-width: 64rem) {
  .tablet-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 64rem) and (max-width: 81.25rem) {
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 81.25rem) {
  .huge-hidden {
    display: none;
    visibility: hidden;
  }
}

.ctr {
  text-align: center;
}

.lft {
  text-align: left;
}

.rgt {
  text-align: right;
}

button.reset-style {
  -webkit-backface-visibility: hidden;
  background: transparent;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}

/*

Style links & buttons

Text Link :
  Base : interactive states
  Style 1 : Link-default 
  Style 2 : Link-discrete  

Button :
  Base : interactive states
  Style 1 : Button
  Style 2 : Red button
  Style 3 : Icons

*/
/* ----- Text Link ------*/
a,
.link-default {
  color: #016d91;
  text-decoration: none;
  transition: .2s all;
}

a:visited,
.link-default:visited {
  color: #016d91;
}

a:hover, a:focus, a[focus-within],
.link-default:hover,
.link-default:focus,
.link-default[focus-within] {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

a:hover, a:focus, a:focus-within,
.link-default:hover,
.link-default:focus,
.link-default:focus-within {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

a:active,
.link-default:active {
  color: #f2cc1e;
  text-decoration: underline;
  background: #fff;
}

.link-discrete {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
}

.link-discrete:visited {
  color: inherit;
}

.link-discrete:hover, .link-discrete:focus, .link-discrete[focus-within] {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

.link-discrete:hover, .link-discrete:focus, .link-discrete:focus-within {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

.link-discrete:active {
  color: #f2cc1e;
  text-decoration: underline;
  background: #fff;
}

.link-underlined {
  color: inherit;
  text-decoration: underline;
  transition: .2s all;
}

.link-underlined:visited {
  color: inherit;
}

.link-underlined:hover, .link-underlined:focus, .link-underlined[focus-within] {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

.link-underlined:hover, .link-underlined:focus, .link-underlined:focus-within {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

.link-underlined:active {
  color: #f2cc1e;
  text-decoration: underline;
  background: #fff;
}

/* ----- Buttons ------*/
.button {
  color: #fff;
  background-color: #016d91;
  display: inline-block;
  text-decoration: none;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  transition: .2s all;
}

.button:visited {
  background-color: #016d91;
  color: #fff;
}

.button:hover, .button:focus, .button[focus-within] {
  background-color: #030303;
  color: #fff;
}

.button:hover, .button:focus, .button:focus-within {
  background-color: #030303;
  color: #fff;
}

.button:active {
  background-color: #f2cc1e;
  color: #fff;
}

.button:disabled {
  background-color: #666666;
  color: #fff;
}

.button-red,
.button-yellow {
  color: #030303;
  background-color: #f2cc1e;
  display: inline-block;
  text-decoration: none;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  transition: .2s all;
}

.button-red:visited,
.button-yellow:visited {
  background-color: #f2cc1e;
  color: #030303;
}

.button-red:hover, .button-red:focus, .button-red[focus-within],
.button-yellow:hover,
.button-yellow:focus,
.button-yellow[focus-within] {
  background-color: #030303;
  color: #fff;
}

.button-red:hover, .button-red:focus, .button-red:focus-within,
.button-yellow:hover,
.button-yellow:focus,
.button-yellow:focus-within {
  background-color: #030303;
  color: #fff;
}

.button-red:active,
.button-yellow:active {
  background-color: #f2cc1e;
  color: #fff;
}

.button-red:disabled,
.button-yellow:disabled {
  background-color: #666666;
  color: #fff;
}

.link-icon {
  transition: all .2s;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.0625rem;
  line-height: 0;
}

.link-icon:last-of-type {
  margin-right: 0;
}

.link-icon:link, .link-icon:visited {
  background: transparent;
}

.link-icon:hover, .link-icon:focus, .link-icon[focus-within] {
  opacity: 0.75;
  /*background-color: $color-primary;
      color: $white;
      * {
        filter: brightness(10);
      }*/
}

.link-icon:hover, .link-icon:focus, .link-icon:focus-within {
  opacity: 0.75;
  /*background-color: $color-primary;
      color: $white;
      * {
        filter: brightness(10);
      }*/
}

.link-icon:active {
  /*background-color: $color-secondary;
    color: $white;
    * {
      filter: brightness(10);
    }*/
}

/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/
/* 1 ---- Spacing ---- */
.v-pad-reg {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 25rem) {
  .v-pad-reg {
    padding-top: 1.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-pad-reg {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  .v-pad-reg {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .v-pad-reg {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 25rem) {
  .v-pad-reg {
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .v-pad-reg {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  .v-pad-reg {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .v-pad-reg {
    padding-bottom: 3rem;
  }
}

.h-pad-reg {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 25rem) {
  .h-pad-reg {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .h-pad-reg {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .h-pad-reg {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .h-pad-reg {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .h-pad-reg {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .h-pad-reg {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .h-pad-reg {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .h-pad-reg {
    padding-right: 6rem;
  }
}

/* 1 ---- Wrapper settings ---- */
.wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  max-width: 79.5rem;
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .wrapper {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .wrapper {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .wrapper {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .wrapper {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .wrapper {
    padding-right: 6rem;
  }
}

.wrapper img,
.wrapper picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.wrapper-small {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  max-width: 45rem;
}

@media screen and (min-width: 25rem) {
  .wrapper-small {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper-small {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .wrapper-small {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .wrapper-small {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .wrapper-small {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .wrapper-small {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .wrapper-small {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .wrapper-small {
    padding-right: 6rem;
  }
}

.wrapper-small img,
.wrapper-small picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.block-pad {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.block-pad-top {
  padding-top: 2rem;
}

/* 4 - Entry Content
----------------- */
.no-useless-margin > *:last-child {
  margin-bottom: 0;
}

.no-useless-margin > *:first-child {
  margin-top: 0;
}

.entry-content {
  font-size: inherit;
  color: inherit;
  line-height: 1.75;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content ul,
.entry-content ol {
  margin: 2rem auto;
}

.entry-content ul li,
.entry-content ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

.entry-content ul li:last-of-type,
.entry-content ol li:last-of-type {
  margin-bottom: 0;
}

.entry-content ol li {
  list-style: decimal inside;
}

.entry-content a {
  color: #016d91;
  text-decoration: none;
  transition: .2s all;
}

.entry-content a:visited {
  color: #016d91;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a[focus-within] {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a:focus-within {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

.entry-content a:active {
  color: #f2cc1e;
  text-decoration: underline;
  background: #fff;
}

.entry-content blockquote {
  margin: 4rem auto;
  padding: 1rem 0 1rem 2rem;
  border-left: 2px solid #016d91;
}

.entry-content blockquote > *:last-child {
  margin-bottom: 0;
}

.entry-content blockquote > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.btn-modale {
  display: block;
  line-height: 0;
  text-align: center;
  position: relative;
  transition: all .2s;
}

.btn-modale img,
.btn-modale picture,
.btn-modale figure {
  line-height: 1;
  width: 100%;
  max-width: 37.5rem;
  height: auto;
  border-radius: 0.25rem;
  opacity: 1;
  transition: opacity .2s;
}

.btn-modale::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  border: 2px solid white;
  background: url(./image/player.svg) center center no-repeat;
  background-color: transparent;
  opacity: 1;
  transition: all .2s;
}

.btn-modale:hover::after, .btn-modale:focus::after, .btn-modale:active::after {
  background-color: #016d91;
  border-color: #016d91;
}

.btn-modale:hover img,
.btn-modale:hover picture,
.btn-modale:hover figure, .btn-modale:focus img,
.btn-modale:focus picture,
.btn-modale:focus figure, .btn-modale:active img,
.btn-modale:active picture,
.btn-modale:active figure {
  opacity: 0.5;
}

/* Summary + details style */
details {
  border: 1px solid #F3F5F7;
  background-color: #fff;
}

details > * {
  padding: 0.25em 0.5em;
}

summary {
  font-size: 1.625rem;
  color: #016d91;
  text-decoration: none;
  transition: .2s all;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #F3F5F7;
  list-style: none;
  cursor: pointer;
}

summary:visited {
  color: #016d91;
}

summary:hover, summary:focus, summary[focus-within] {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

summary:hover, summary:focus, summary:focus-within {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

summary:active {
  color: #f2cc1e;
  text-decoration: underline;
  background: #fff;
}

summary::-webkit-details-marker, summary::marker {
  display: none;
}

summary::after {
  content: "+";
  content: url(./image/angle-down.svg);
  float: right;
  transform: rotate(90deg);
  transition: .2s transform;
}

summary:focus-visible, summary:focus, summary:active {
  outline: none;
}

details[open] > summary::after {
  transform: rotate(0deg);
}

/* Multiple column text */
.column-1 {
  columns: 1;
}

.column-2 {
  columns: 1;
}

@media screen and (min-width: 42.5rem) {
  .column-2 {
    columns: 2;
  }
}

.column-3 {
  columns: 1;
}

@media screen and (min-width: 42.5rem) {
  .column-3 {
    columns: 3;
  }
}

.column-1,
.column-2,
.column-3 {
  column-gap: 1.5rem;
}

@media screen and (min-width: 64rem) {
  .column-1,
  .column-2,
  .column-3 {
    column-gap: 3rem;
  }
}

.column-1 *,
.column-2 *,
.column-3 * {
  margin-top: 0;
  margin-top: 1rem;
}

.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ResponseMessage,
#ResponseMessageMailjet,
#ResponseMessageAmbassadeur,
#ResponseMessageRegisterUserCleanUp {
  display: none;
  opacity: 0;
  font-weight: 700;
}

#ResponseMessage.showResponseMessage,
#ResponseMessageMailjet.showResponseMessage,
#ResponseMessageAmbassadeur.showResponseMessage,
#ResponseMessageRegisterUserCleanUp.showResponseMessage {
  display: inline-block;
  opacity: 1;
  transition: .4s all;
}

.hiddenSubmitButton {
  display: none;
}

#mailjetForm #email_newsletter {
  background-color: #F3F5F7;
}

/*
#mailjetForm,
#newsletterForm {
    .form-item {
        font-size: .6em;
        &.checkbox input {
            margin-top: 10px;
        }
    }
    .button {
        padding: 1rem 1.5rem;
    }
}
*/
/*

Style Topbar [header.php]

File structure :
------------------
1 - Topbar settings
------------------
2 - Mobile Menu
    2.1 : Menu Layout : hidden
    2.2. Menu layout : visible
    2.3 : Links Style
    2.4 : Close button
    2.5 : Burger button
------------------
3 - Menu Desktop
  3.1 - Menu Layout
  3.2 - Links style
------------------
4 - x

*/
/* 1 - Topbar settings
------------------ */
#topbar {
  width: 100%;
  box-sizing: border-box;
  z-index: 300;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* 2 -  Mobile Menu
    ------------------ */
}

@media screen and (min-width: 64rem) {
  #topbar {
    align-items: end;
  }
}

@media screen and (min-width: 25rem) {
  #topbar {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #topbar {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  #topbar {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #topbar {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #topbar {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #topbar {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  #topbar {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #topbar {
    padding-right: 6rem;
  }
}

#topbar #topbar-logo > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: auto;
  max-width: 100%;
  width: 7.5rem;
}

@media screen and (min-width: 25rem) {
  #topbar #topbar-logo > * {
    width: 12.5rem;
  }
}

@media screen and (min-width: 25rem) and (min-width: 64rem) {
  #topbar #topbar-logo > * {
    width: 18.75rem;
  }
}

#topbar ul,
#topbar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#topbar ul.primary {
  color: #030303;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  /*
        .current-menu-item > a {
            text-decoration: underline;
        }
        .primary >li:last-of-type {
            > a {
                //@include button-ghost;
            }

            &.current-menu-item {
                > a {
                    //@include button-cta;
                    text-decoration: none;
                }
            }

        }*/
}

@media screen and (min-width: 64rem) {
  #topbar ul.primary {
    font-size: 1.125rem;
  }
}

#topbar ul.primary a {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
}

#topbar ul.primary a:visited {
  color: inherit;
}

#topbar ul.primary a:hover, #topbar ul.primary a:focus, #topbar ul.primary a[focus-within] {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

#topbar ul.primary a:hover, #topbar ul.primary a:focus, #topbar ul.primary a:focus-within {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

#topbar ul.primary a:active {
  color: #f2cc1e;
  text-decoration: underline;
  background: #fff;
}

#topbar ul.primary > li {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 64rem) {
  #topbar ul.primary > li {
    display: inline-block;
    margin-left: 1.5rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 63rem) {
  #topbar ul.primary .menu-item-has-children {
    display: flex;
    flex-direction: column;
  }
  #topbar ul.primary .menu-item-has-children .sub-menu {
    background-color: #eaedf1;
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
  #topbar ul.primary .menu-item-has-children .sub-menu li {
    padding: 0.25em;
    padding-left: 1em;
  }
}

@media screen and (max-width: 63rem) and (max-width: 24rem) {
  #topbar ul.primary .menu-item-has-children .sub-menu li {
    padding: 0.5em;
  }
}

@media screen and (max-width: 63rem) {
  #topbar ul.primary .menu-item-has-children .sub-menu li:not(:first-child) {
    border-top: 1px solid #F3F5F7;
  }
}

@media screen and (min-width: 64rem) {
  #topbar ul.primary .menu-item-has-children {
    position: relative;
    text-align: left;
  }
  #topbar ul.primary .menu-item-has-children .sub-menu {
    min-width: 8.75rem;
    padding-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    width: 1px;
    word-wrap: normal !important;
    transition: .2s opacity;
    font-size: 1rem;
    opacity: 0;
  }
  #topbar ul.primary .menu-item-has-children .sub-menu li:first-child {
    border-top: 2px solid #016d91;
  }
  #topbar ul.primary .menu-item-has-children .sub-menu li {
    border: 1px solid #F3F5F7;
    border-top: none;
    padding: 0.5em;
    background: white;
  }
  #topbar ul.primary .menu-item-has-children > a {
    position: relative;
    z-index: 310;
  }
  #topbar ul.primary .menu-item-has-children > a::after {
    content: url(./image/angle-down.svg);
    display: inline-block;
    vertical-align: top;
    margin-left: 0.25em;
  }
  #topbar ul.primary .menu-item-has-children:hover .sub-menu,
  #topbar ul.primary .menu-item-has-children:focus .sub-menu,
  #topbar ul.primary .menu-item-has-children[focus-within] .sub-menu {
    clip: auto !important;
    clip-path: none;
    height: auto;
    line-height: normal;
    text-decoration: none;
    width: 100%;
    margin: auto;
    z-index: 300;
    opacity: 1;
  }
  #topbar ul.primary .menu-item-has-children:hover .sub-menu,
  #topbar ul.primary .menu-item-has-children:focus .sub-menu,
  #topbar ul.primary .menu-item-has-children:focus-within .sub-menu {
    clip: auto !important;
    clip-path: none;
    height: auto;
    line-height: normal;
    text-decoration: none;
    width: 100%;
    margin: auto;
    z-index: 300;
    opacity: 1;
  }
}

#topbar ul.second {
  padding-bottom: 1rem;
}

#topbar ul.second li {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (max-width: 64rem) {
  #topbar ul.second li {
    margin-bottom: 0.5rem;
  }
}

#topbar ul.second a {
  color: #fff;
  background-color: #016d91;
  display: inline-block;
  text-decoration: none;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  transition: .2s all;
}

#topbar ul.second a:visited {
  background-color: #016d91;
  color: #fff;
}

#topbar ul.second a:hover, #topbar ul.second a:focus, #topbar ul.second a[focus-within] {
  background-color: #030303;
  color: #fff;
}

#topbar ul.second a:hover, #topbar ul.second a:focus, #topbar ul.second a:focus-within {
  background-color: #030303;
  color: #fff;
}

#topbar ul.second a:active {
  background-color: #f2cc1e;
  color: #fff;
}

#topbar ul.second a:disabled {
  background-color: #666666;
  color: #fff;
}

#topbar ul.second li:last-child a {
  color: #030303;
  background-color: #f2cc1e;
  display: inline-block;
  text-decoration: none;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  transition: .2s all;
}

#topbar ul.second li:last-child a:visited {
  background-color: #f2cc1e;
  color: #030303;
}

#topbar ul.second li:last-child a:hover, #topbar ul.second li:last-child a:focus, #topbar ul.second li:last-child a[focus-within] {
  background-color: #030303;
  color: #fff;
}

#topbar ul.second li:last-child a:hover, #topbar ul.second li:last-child a:focus, #topbar ul.second li:last-child a:focus-within {
  background-color: #030303;
  color: #fff;
}

#topbar ul.second li:last-child a:active {
  background-color: #f2cc1e;
  color: #fff;
}

#topbar ul.second li:last-child a:disabled {
  background-color: #666666;
  color: #fff;
}

#topbar #menu {
  text-align: right;
}

@media screen and (max-width: 63.99rem) {
  #topbar #menu {
    padding: 1rem;
    overflow: scroll;
    text-align: center;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    transform: translate(100%, 0%);
    opacity: 0;
    background: #F3F5F7;
    margin: 0;
  }
}

@media screen and (max-width: 63.99rem) and (min-width: 25rem) {
  #topbar #menu {
    padding: 2rem;
  }
}

@media screen and (max-width: 63.99rem) and (min-width: 42.5rem) {
  #topbar #menu {
    padding: 3rem;
  }
}

@media screen and (max-width: 63.99rem) and (min-width: 64rem) {
  #topbar #menu {
    padding: 5rem;
  }
}

@media screen and (max-width: 63.99rem) and (min-width: 81.25rem) {
  #topbar #menu {
    padding: 6rem;
  }
}

@media screen and (max-width: 63.99rem) {
  #topbar #menu:focus, #topbar #menu.menu-open {
    opacity: 1;
    transform: translate(0%, 0%);
    z-index: 999;
  }
  #topbar #close-menu {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  #topbar #close-menu > button {
    line-height: 0;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    transition: background-color .2s;
    /*
                &:active {
                    background-color : $color-secondary;
                }
                */
  }
  #topbar #close-menu > button:hover, #topbar #close-menu > button:focus {
    background-color: #016d91;
  }
  #topbar #close-menu > button > img {
    object-fit: contain;
    margin: 0;
  }
  #topbar #burger-menu {
    transition: background-color .2s;
    padding: 0.35rem 0.25rem;
    border-radius: 4px;
    line-height: 0;
    /*
            &:active {
                background-color : $brand-black;
            }
            */
  }
  #topbar #burger-menu:hover, #topbar #burger-menu:focus {
    background-color: #F3F5F7;
  }
  #topbar #burger-menu > img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

/*

Style Userbar (when user is logged in) [header.php]

*/
#userbar {
  display: none;
  width: 100%;
  box-sizing: border-box;
  z-index: 300;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: #016d91;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 25rem) {
  #userbar {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #userbar {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  #userbar {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #userbar {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #userbar {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #userbar {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  #userbar {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #userbar {
    padding-right: 6rem;
  }
}

#userbar ul, #userbar li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#userbar ul {
  display: flex;
  flex-flow: row wrap;
}

#userbar a {
  margin-right: 1rem;
}

#userbar p {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

#userbar a.button-yellow {
  margin-top: 1rem;
}

/*

Style Footer [footer.php]

*/
#footer {
  margin-top: 5rem;
  background: #F3F5F7;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  text-align: center;
  /*
    #footer-content {
        color: $brand-black;
        font-size: pixel(12);
        a {
            @include link-discrete;
        }
    }
    */
}

@media screen and (min-width: 42.5rem) {
  #footer {
    text-align: left;
    grid-template-columns: 1fr 1fr;
  }
  #footer > * > *:last-child {
    margin-bottom: 0;
  }
  #footer > * > *:first-child {
    margin-top: 0;
  }
  #footer > * > * > *:last-child {
    margin-bottom: 0;
  }
  #footer > * > * > *:first-child {
    margin-top: 0;
  }
  #footer .secondary,
  #footer #copyright,
  #footer #footer-content {
    margin-top: 2rem;
  }
}

#footer #footer-social p {
  color: #030303;
  margin-bottom: 0.5em;
}

#footer .secondary {
  padding: 0;
  list-style: none;
}

#footer .secondary li {
  display: inline-block;
  margin-right: 1.25rem;
  font-size: 1.125rem;
  color: #030303;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  text-transform: capitalize;
}

#footer .secondary li:not(:last-of-type) {
  position: relative;
}

#footer .secondary li:not(:last-of-type)::after {
  position: absolute;
  right: -1rem;
  top: 0;
  content: "-";
}

#footer .secondary a {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
}

#footer .secondary a:visited {
  color: inherit;
}

#footer .secondary a:hover, #footer .secondary a:focus, #footer .secondary a[focus-within] {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

#footer .secondary a:hover, #footer .secondary a:focus, #footer .secondary a:focus-within {
  color: #016d91;
  text-decoration: underline;
  background: #fff;
}

#footer .secondary a:active {
  color: #f2cc1e;
  text-decoration: underline;
  background: #fff;
}

#footer #copyright {
  font-size: 0.75rem;
}

#newsletterForm {
  display: flex;
  flex-flow: column;
}

.modale {
  opacity: 0;
  position: fixed;
  z-index: 400;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  transform: translate(100%, -50%);
  box-sizing: border-box;
  transition: all .4s;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5rem;
}

.modale > div {
  box-sizing: border-box;
  background: white;
  padding: 1rem;
  overflow-y: scroll;
  width: 100%;
  max-width: 50rem;
  padding: 2rem 0.5rem;
}

@media screen and (min-width: 25rem) {
  .modale > div {
    padding: 2rem;
  }
}

.modale .closeModale {
  outline: 0;
  background-color: transparent;
  transition: all .2s;
  color: #fff;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  border: 1px solid currentColor;
  margin-bottom: 2rem;
  cursor: pointer;
}

.modale.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.cleanup-modale {
  text-align: center;
}

.cleanup-modale form {
  text-align: left;
  max-width: 25rem;
  margin: 2rem auto;
}

/*

Gutenberg Core blocks

*/
#raw-content > *:not(.blk-wp) {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  max-width: 79.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 25rem) {
  #raw-content > *:not(.blk-wp) {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > *:not(.blk-wp) {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  #raw-content > *:not(.blk-wp) {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > *:not(.blk-wp) {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  #raw-content > *:not(.blk-wp) {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  #raw-content > *:not(.blk-wp) {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  #raw-content > *:not(.blk-wp) {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  #raw-content > *:not(.blk-wp) {
    padding-right: 6rem;
  }
}

#raw-content > *:not(.blk-wp) img,
#raw-content > *:not(.blk-wp) picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

/*

Gutenberg editorial blocks

*/
.blk-button {
  font-size: 1.25rem;
}

.blk-button a {
  margin: 0 0.5rem;
}

.blk-button a:nth-of-type(1) {
  margin-bottom: 1rem;
}

.blk-download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 25rem) {
  .blk-download {
    flex-direction: row;
  }
}

.blk-download img,
.blk-download picture {
  width: 6.25rem;
  height: auto;
  margin: 0;
}

@media screen and (min-width: 42.5rem) {
  .blk-download img,
  .blk-download picture {
    width: 12.5rem;
  }
}

.blk-download .txt-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 25rem) {
  .blk-download .txt-content {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 25rem) {
  .blk-download .txt-content {
    padding-left: 2rem;
  }
}

.blk-download .txt-content * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 25rem) {
  .blk-download .txt-content * {
    margin-bottom: 1rem;
  }
}

.blk-download .button {
  width: max-content;
  margin-bottom: 2rem;
}

.blk-event {
  min-height: 100vh;
  position: relative;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.blk-event .txt-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.blk-event .txt-content * {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.2;
}

.blk-event .txt-content *:last-child {
  margin-bottom: 0;
}

.blk-event .txt-content .event-date,
.blk-event .txt-content .event-title,
.blk-event .txt-content .event-txt {
  padding: 0.25em 0.5em;
}

@media screen and (max-width: 42.5rem) {
  .blk-event .txt-content .event-date,
  .blk-event .txt-content .event-txt {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-event .txt-content .event-date,
  .blk-event .txt-content .event-txt {
    font-size: 3rem;
  }
}

.blk-event .txt-content .event-title {
  font-size: 1.625rem;
  color: #030303;
  background: #fff;
}

.blk-event .txt-content .event-txt {
  color: #030303;
  background: #f2cc1e;
}

@media screen and (min-width: 64rem) {
  .blk-event .txt-content .event-txt {
    transform: rotate(2deg);
  }
}

.blk-event .txt-content .event-date {
  color: #030303;
  background: #f2cc1e;
}

@media screen and (min-width: 64rem) {
  .blk-event .txt-content .event-date {
    transform: rotate(-2deg);
  }
}

.blk-event .txt-content .button {
  margin-top: 2rem;
}

.blk-event .img-content {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #016d91;
}

.blk-event .img-content img,
.blk-event .img-content picture {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #016d91;
}

.blk-img-fullscreen {
  width: 100%;
}

.blk-img-fullscreen img,
.blk-img-fullscreen picture {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blk-img-standard {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  max-width: 79.5rem;
}

@media screen and (min-width: 25rem) {
  .blk-img-standard {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-img-standard {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .blk-img-standard {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .blk-img-standard {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 25rem) {
  .blk-img-standard {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-img-standard {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .blk-img-standard {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .blk-img-standard {
    padding-right: 6rem;
  }
}

.blk-img-standard img,
.blk-img-standard picture {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.blk-img-standard img,
.blk-img-standard picture {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blk-txt .title,
.blk-txt .title *,
.blk-txt .content,
.blk-txt .content * {
  margin: 0;
}

.blk-txt .title {
  margin-bottom: 0.5em;
}

.blk-txt .content strong {
  display: block;
  color: #016d91;
  font-family: "Chau Philomene One", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.blk-page-title {
  position: relative;
}

.blk-page-title.has-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 60vw;
}

@media screen and (min-width: 25rem) {
  .blk-page-title.has-image {
    padding-top: 1.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-page-title.has-image {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  .blk-page-title.has-image {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .blk-page-title.has-image {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 25rem) {
  .blk-page-title.has-image {
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-page-title.has-image {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  .blk-page-title.has-image {
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .blk-page-title.has-image {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .blk-page-title.has-image {
    min-height: 40vw;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 64rem) {
  .blk-page-title.has-image {
    min-height: 28.75rem;
  }
}

.blk-page-title.has-image h1 {
  color: #fff;
  filter: drop-shadow(0 0 10px #030303);
}

.blk-page-title h1 {
  margin: 0;
}

.blk-page-title .img-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.blk-page-title .img-content * {
  min-width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}

.blk-txt-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  align-items: start;
}

@media screen and (min-width: 42.5rem) {
  .blk-txt-img {
    grid-template-columns: 1fr 1fr;
  }
  .blk-txt-img > img,
  .blk-txt-img > picture,
  .blk-txt-img .txt-content {
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  .blk-txt-img.img-left > img,
  .blk-txt-img.img-left > picture {
    grid-column: 1 / 2;
  }
  .blk-txt-img.img-left .txt-content {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 64rem) {
  .blk-txt-img {
    grid-template-columns: 2fr 1fr;
  }
  .blk-txt-img.img-left {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 42.5rem) and (min-width: 64rem) and (min-width: 64rem) {
  .blk-txt-img {
    grid-template-columns: 5fr 3fr;
  }
  .blk-txt-img.img-left {
    grid-template-columns: 3fr 5fr;
  }
}

.blk-txt-img .txt-content * {
  margin: 0;
  margin-bottom: 1em;
}

/*--------- Block Mission -----------*/
.blk-mission {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 69.5rem) {
  .blk-mission {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .blk-mission:nth-of-type(even) {
    text-align: left;
  }
  .blk-mission:nth-of-type(odd) > .mission-card {
    margin-right: 0;
  }
  .blk-mission:nth-of-type(even) > .mission-card {
    margin-left: 0;
  }
}

@media screen and (min-width: 25rem) {
  .blk-mission .has-subtitle {
    display: grid;
    grid-template-columns: auto 4rem;
    align-items: end;
  }
  .blk-mission .has-subtitle .subtitle {
    text-align: right;
  }
}

.blk-mission .mission-card {
  max-width: 28.75rem;
  box-sizing: border-box;
  margin: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.blk-mission .mission-card .img-content {
  min-height: 8rem;
  height: auto;
  position: relative;
  z-index: -1;
  border-top-left-radius: 3rem;
  overflow: hidden;
}

.blk-mission .mission-card .img-content * {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.blk-mission .mission-card .txt-content {
  margin-top: -6rem;
  padding: 0 0.5rem;
}

@media screen and (min-width: 25rem) {
  .blk-mission .mission-card .txt-content {
    padding: 0 2rem;
  }
}

.blk-mission .mission-card .txt {
  background: #fff;
  padding: 1em;
}

.blk-mission .mission-card .txt * {
  margin-top: 0;
  margin-bottom: 1em;
}

@media screen and (min-width: 69.5rem) {
  .blk-mission:last-of-type:nth-of-type(odd) {
    width: 100%;
  }
  .blk-mission:last-of-type:nth-of-type(odd) .mission-card {
    margin: auto;
  }
}

/*--------- Block text 2P -----------*/
.container2P {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 42.5rem) {
  .container2P {
    grid-template-columns: 1fr;
  }
}

/*--------- Block text 3P -----------*/
.container3P {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 42.5rem) {
  .container3P {
    grid-template-columns: 1fr;
  }
}

/* Editor stylesheet */
/*

Editor Stylesheet : Wordpress Administration style

*/
.editor-styles-wrapper {
  font-weight: 400;
  font-size: 1rem;
  color: #666666;
  line-height: 1.75;
  font-family: "Open Sans", sans-serif;
  background: red;
}

.wp-block,
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: 80%;
  width: 80%;
}
