/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/


/* 1 ---- Spacing ---- */

//1.1 : Vertical Padding Regular
@mixin v-padding-regular {
    @include spacing( padding-top, $vertical-padding-regular);
    @include spacing( padding-bottom, $vertical-padding-regular);
}

.v-pad-reg {
    @include v-padding-regular;
}

//1.2 : Horizontal Padding Regular
@mixin horizontal-padding-regular {
    @include spacing( padding-left, $horizontal-padding-regular);
    @include spacing( padding-right, $horizontal-padding-regular);
}

.h-pad-reg {
    @include horizontal-padding-regular;
}


/* 1 ---- Wrapper settings ---- */

//1.1 : Wrapper (horizontal padding)
@mixin wrapper-base {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    @include horizontal-padding-regular;
    margin: auto;
    img,
    picture {
        max-width: 100%;
        height: auto;
        margin: auto;
    }
}

@mixin wrapper {
    @include wrapper-base;
    max-width: $wrapper-width;
}

.wrapper {
    @include wrapper;
}

@mixin wrapper-small {
    @include wrapper-base;
    max-width: $wrapper-width-small;
}

.wrapper-small {
    @include wrapper-small;
}

.block-pad {
    padding-top: $block-spacing;
    padding-bottom: $block-spacing;
}

.block-pad-top {
    padding-top: $block-spacing;
}


/* 4 - Entry Content
----------------- */

// 4.1 - Entry-content global
@mixin entry-content {
    font-size: inherit;
    color: inherit;
    line-height: $lh-standard;
    @include no-useless-margin;
    ul,
    ol {
        @include entry-content-list;
    }
    ol {
        @include entry-content-ol;
    }
    a {
        @include link-default;
    }
    blockquote {
        margin: 4rem auto;
        @include entry-content-blockquote;
    }
    @include no-useless-margin;
}

// 4.2 - No useless margin
@mixin no-useless-margin {
    >* {
        &:last-child {
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }
}

.no-useless-margin {
    @include no-useless-margin; 
}

// 4.3 - Entry-content blockquote
@mixin entry-content-blockquote {
    padding: 1rem 0 1rem 2rem; // top right bottom left
    border-left: 2px solid $color-primary;
    @include no-useless-margin;
    // same style as lead-paragraph
    //@include font(text, regular, lead-paragraph);
}

// 4.4 - Entry-content : List style (ul + ol) 
@mixin entry-content-list {
    margin: 2rem auto;
    //padding: 0 0 0 2em; // t r b l
    li {
        margin-bottom: 0.5em;
        list-style: square inside;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// 4.5 - Entry-content : List varaint (ol only) 
@mixin entry-content-ol {
    li {
        list-style: decimal inside;
    }
}

.entry-content {
    @include entry-content;
}

// 5.1 : Video Button
.btn-modale {
    display: block;
    line-height: 0;
    text-align: center;
    position: relative;
    transition: all .2s;
    // 5.1 : Video thumbnail size
    img,
    picture,
    figure {
        line-height: 1;
        width: 100%;
        max-width: pixel(600);
        height: auto;
        border-radius: 0.25rem;
        opacity: 1;
        transition: opacity .2s;
    }
    // 5.2 : Video icon
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        border: 2px solid white;
        background: url(./image/player.svg) center center no-repeat;
        background-color: transparent;
        opacity: 1;
        transition: all .2s;
    }
}

// 5.3 - Interactivity
.btn-modale {
    &:link,
    &:visited {
        //
    }
    &:hover,
    &:focus,
    &:active {
        // Icon changes
        &::after {
            background-color: $color-primary;
            border-color: $color-primary;
        }
        // Thumbnail changes
        img,
        picture,
        figure {
            opacity: 0.5;
        }
    }
}


/* Summary + details style */

//Details style
details {
    border: 1px solid $gray-light;
    background-color: $white;
    >* {
        padding: 0.25em 0.5em;
    }
}

// Default Summary style
summary {
    @include font(h6);
    @include link-default; // Same styl as link : color changes on hover
    font-family: $font-title;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $gray-light;
    // 1 - Hide default icon
    list-style: none; // Firefox trick
    &::-webkit-details-marker,
    &::marker {
        display: none; // Chrome & Safari trick
    }
    // 2 - Create a new icon
    cursor: pointer;
    &::after {
        content: "+";
        content: url(./image/angle-down.svg);
        float: right;
        transform: rotate(90deg);
        transition: .2s transform;
    }
    //3 - Focus and active states
    &:focus-visible,
    &:focus,
    &:active {
        outline: none;
        //background-color: transparent;
    }
}

// 3 - When details are open, icon moves
details[open]>summary::after {
    transform: rotate(0deg);
}


/* Multiple column text */

.column-1 {
    columns: 1;
}

.column-2 {
    columns: 1;
    @media screen and (min-width: $mobile_width) {
        columns: 2;
    }
}

.column-3 {
    columns: 1;
    @media screen and (min-width: $mobile_width) {
        columns: 3;
    }
}

.column-1,
.column-2,
.column-3 {
    column-gap: 1.5rem;
    @media screen and (min-width: $tablet_width) {
        column-gap: 3rem;
    }
    * {
        margin-top: 0;
        margin-top: 1rem;
    }
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ResponseMessage,
#ResponseMessageMailjet,
#ResponseMessageAmbassadeur,
#ResponseMessageRegisterUserCleanUp {
    display: none;
    opacity: 0;
    font-weight: 700;
    ;
    &.showResponseMessage {
        display: inline-block;
        opacity: 1;
        transition: .4s all;
    }
}

.hiddenSubmitButton {
    display: none;
}

#mailjetForm {
    #email_newsletter {
        background-color: $gray-light;
    }
}


/*
#mailjetForm,
#newsletterForm {
    .form-item {
        font-size: .6em;
        &.checkbox input {
            margin-top: 10px;
        }
    }
    .button {
        padding: 1rem 1.5rem;
    }
}
*/