/*

Style Footer [footer.php]

*/

#footer {
    margin-top: 5rem;
    background: $gray-light;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;
    text-align: center;
    @media screen and (min-width: $mobile_width) {
        text-align: left;
        grid-template-columns: 1fr 1fr;

        > * {
            @include no-useless-margin;
            > * {
                @include no-useless-margin;
            }
        }

        .secondary,
        #copyright,
        #footer-content {
            margin-top: $gutter;
        }
    }

    #footer-social {
        p {
            color: $brand-black;
            margin-bottom: 0.5em;
        }
    }

    .secondary {
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 1.25rem;
            font-size: pixel(18);
            color: $brand-black;
            font-family: $font-title;
            text-transform: capitalize;

            &:not(:last-of-type) {
                position: relative;
                &::after {
                    position: absolute;
                    right: -1rem;
                    top: 0;
                    content: "-";
                }
            }
        }

        a {
            @include link-discrete;
        }
    }

    #copyright {
        font-size: pixel(12);
    }

    /*
    #footer-content {
        color: $brand-black;
        font-size: pixel(12);
        a {
            @include link-discrete;
        }
    }
    */
}


#newsletterForm {
    display: flex;
    flex-flow: column;
}