// Modal Container
.modale {
    // Modal Layout
    opacity: 0;
    position: fixed;
    z-index: $index-modal;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    transform: translate(100%, -50%);
    box-sizing: border-box;
    transition: all .4s;
    background-color: rgba(black, 0.9);
    padding: 0.5rem;

    > div {
        box-sizing: border-box;
        background: white;
        padding: 1rem;
        overflow-y: scroll;
        //max-height: 70vh;
        width: 100%;
        max-width: pixel(800);
        padding: 2rem 0.5rem;
        @media screen and (min-width: $tiny_width) {
            padding: 2rem;
        }
        
    }

    .closeModale {
        outline: 0;
        background-color: transparent;
        transition: all .2s;
        color: $white;
        font-size: 1rem;
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
        border: 1px solid currentColor;
        margin-bottom: 2rem;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
            // background-color: $brand-red;
            // border-color: $brand-red;
        }
    }

    // Modal appears
    &.active {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

// CleanUp Inscription
.cleanup-modale {
    text-align: center;
    form {
        text-align: left;
        max-width: pixel(400);
        margin: 2rem auto;
    }
}