/*

Style Userbar (when user is logged in) [header.php]

*/

#userbar {
    display: none;
    width: 100%;
    box-sizing: border-box;
    z-index : $index-navigation;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;    

    // 1.1 - Topbar Style
    background: $brand-blue;
    color: $white;
    padding-top: 0.5rem;
    padding-bottom : 1rem;
    @include spacing (padding-left, $horizontal-padding-regular);
    @include spacing (padding-right, $horizontal-padding-regular);
    
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
    }

    a {
        margin-right: 1rem;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
    }

    a.button-yellow {
        margin-top: 1rem;
    }
}