/* Font Face Rules 

 Fonts used :
 
 01 - Inter : Open Source Fonts [@source : https://github.com/rsms/inter/]
     1 : Chau Philomene One (regular)
     2 : Open Sans (regular & bold)
 */




// 1 : Chau Philomene One (regular)
@font-face {
     font-family: 'Chau Philomene One';
     src: url('./font/chauphilomeneone-regular-webfont.woff2') format('woff2'),
          url('./font/chauphilomeneone-regular-webfont.woff') format('woff'),
          url('./font/chauphilomeneone-regular-webfont.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
 
 }

// 2 : Open Sans (regular & bold)
@font-face {
     font-family: 'Open Sans';
     src: url('./font/opensans-regular-webfont.woff2') format('woff2'),
          url('./font/opensans-regular-webfont.woff') format('woff'),
          url('./font/opensans-regular-webfont.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'Open Sans';
     src: url('./font/opensans-bold-webfont.woff2') format('woff2'),
          url('./font/opensans-bold-webfont.woff') format('woff'),
          url('./font/opensans-bold-webfont.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
}
 

