/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes

*/

// 01 - Accessibility
// Accessiblity for main navigation
  
.skip-link{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    padding: 0;
    //overflow: hidden;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.skip-link:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 0.5em;
    top: 0.5em;
    line-height: normal;
    padding: 1em 1.5em 1em;
    text-decoration: none;
    width: unset;
    z-index: $index-accessibility; /* Above WP toolbar. */
}

// Text for Screen Reader only
.sr-only {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

// 02 - Font-setting
// Default text setting

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    color: $default-text-color;
    background: $white;
    box-sizing: border-box;
    font-family: $font-text;
    line-height: $lh-standard;
    @include font (text, regular);
}

.body-like {
    @include font-weight(regular);
    @include font-size(text);
    font-style: normal;
    display: block;
}

h1, .h1-like {
    @include font(h1);
    margin-top: 0;
    margin-bottom: 0.5em;
    @media screen and (max-width: $mobile_width) {
        @include font-size(h1-mobile);
    }
    @media screen and (min-width: $mobile_width) {
        @include font-size(h1);
    }
}
    h2, .h2-like {
        @include font(h2);
    }
        h3, .h3-like {
            @include font(h3);
        }
            h4, .h4-like {
                @include font(h4);
            }
                h5, .h5-like {
                    @include font(h5);
                }
                    h6, .h6-like {
                        @include font(h6);
                    }

                        h1, .h1-like, 
                        h2, .h2-like, 
                        h3, .h3-like, 
                        h4, .h4-like, 
                        h5, .h5-like,
                        h6, .h6-like {
                            margin-bottom: 0.5em;
                            font-family: $font-title;
                            line-height: $lh-small;
                            color: $brand-blue;
                        }
.big {
    @include font(big, regular);
    color: $default-text-color;
    font-family: $font-text;
}

b, strong, .bold {
    @include font-weight(bold);
}

//03 - Responsive class
// Display elements according to screen size

// Size 1 : $tiny_width
.tiny-hidden {
    @media screen and (max-width: $tiny_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Sizes 1 + 2 : $tiny_width + $mobile_width
.mobile-hidden {
    @media screen and (max-width: $mobile_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 2 : $mobile_width
.mobile-xl-hidden {
    @media screen and (min-width: $tiny_width) and (max-width: $mobile_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 3 : $tablet_width
.tablet-hidden {
    @media screen and (min-width: $mobile_width) and (max-width: $tablet_width) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
// Size 4 : $desktop_width
.desktop-hidden {
    @media screen and (min-width: $tablet_width) and (max-width: $desktop_width) {
        display: none;
        visibility: hidden;
    }
}
// Size 5 : above $desktop_width
.huge-hidden {
    @media screen and (min-width: $desktop_width) {
        display: none;
        visibility: hidden;
    }
}

// Text-align class
.ctr {   text-align: center;}
.lft {   text-align: left; }
.rgt {   text-align: right; }

//06 - Reset Classes
button.reset-style {
-webkit-backface-visibility: hidden;
    background: transparent;
    //border: solid 1px transparent;
    border: none;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.no-margin {
    margin: 0;
}