//colors
$white: #fff;
$gray-light: #F3F5F7;
$gray-medium: rgb(128, 128, 128);
$gray-dark: #666666;
$brand-black: #030303;
$brand-blue: #016d91;
$brand-red: #f2cc1e;
$brand-yellow: #f2cc1e;
$links: #016d91;
$black: #000;
$color-primary: $links;
$color-secondary: $brand-red;
$green: #50D55D; // Used in form
$red: #F91D5F; // Used in form
// Type Settings
$default-text-color: $gray-dark;
$font-title: "Chau Philomene One",
Helvetica,
Arial,
Lucida,
sans-serif;
$font-text: "Open Sans",
sans-serif;
$fonts: ( // A - Font weight
regular: 400, bold: 700, // B - Font size
h1: pixel(48), h1-mobile: pixel(36), h2: pixel(26), h3: pixel(26), h4: pixel(26), h5: pixel(26), h6: pixel(26), big: pixel(26), text: 1rem, label: pixel(16), );
// Breakpoints
$tiny_width: pixel(400);
$mobile_width: pixel(680);
$tablet_width: pixel(1024);
$desktop_width: pixel(1300); // Not used yet
$wrapper-padding: 6rem;
$wrapper-width: pixel(1080)+(2 * $wrapper-padding);
$wrapper-width-small: pixel(720);
// Text line-height
$lh-small: 1.2;
$lh-standard: 1.75;
$lh-big: 2;
//z-index
$index-accessibility: 1000;
$index-modal: 400;
$index-navigation: 300;
$index-dropdown: 200;
$index-overlay: 100;
// Responsive spacing
$horizontal-padding-regular: ( null: 1rem, $tiny_width: 2rem, $mobile_width: 3rem, $tablet_width: 5rem, $desktop_width: $wrapper-padding, );
$vertical-padding-regular: ( null: 1rem, $tiny_width: 1.25rem, $mobile_width: 2rem, $tablet_width: 2.5rem, $desktop_width: 3rem, );
// Horizontal padding
$block-spacing: 2rem;
// Vertical padding
$gutter: 2rem;