.listing-cleanup {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;
    grid-auto-rows: auto;
    justify-items: stretch;
    align-items: stretch;

    @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
    }
}


.listing-cleanup-organizer-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;
    grid-auto-rows: auto;
    //justify-items: stretch;
    //align-items: stretch;
}


.filters-cleanup {
    @include spacing(margin-top, $vertical-padding-regular);
    @media screen and (max-width: $mobile_width - 1) {
        margin-bottom: 4rem;
    }
}