/*

Custom Checkbox style.

Structure :

<div class="checkbox>
    <input type="checkbox">
    <label>Titre</label>
</div>

*/


.checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: start;
    @include font(text, regular);
    line-height: 1.5;

    input {
        flex: 0 0 1em;
        width: 1em;
        height: 1em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        margin: 0;
        margin: 0;
        padding: 0;
    }

    .checkbox-label {
        margin: 0;
        margin-top:-0.25rem;
        padding: 0;
        padding-top: 0em;
        padding-left: 0.5em;
        padding-right: 1.5rem;
        @include font(label, regular);
        label {
            @include font(label, regular);
        }
        p,
        a {
            margin: 0;
            padding: 0;
            margin-bottom: 0.25em;
            display: block;
            &.no-display-block{
                display:inline;
                text-decoration:underline;
            }
        }
    }
}