/*

Custom Select style.

Structure :

<div class="select>
    <select>
        <option>Item 1</option>
        <option>Item 2</option>
    </select>
</div>

*/

.select select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    -webkit-appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    line-height: $lh-small;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: $gray-dark;
    z-index: 10;
    option {
        color: $brand-blue;
        background-color: $gray-light;
    }
}

.select select::-ms-expand {
    display: none;
}

.select {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-areas: "select";
    //width: 100%;
    //min-width: 15ch;
    max-width: 25ch;
    border: 2px solid $gray-light;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
    line-height: $lh-small;
    font-size: 1rem;
    background-color: $white;
}

.select select,
.select:after {
    grid-area: select;
}

.select::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: $gray-medium;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    z-index: 5;
}